h6 {
    text-decoration: underline;
    font-weight: 400;
    /* color: darkslategray; */
}

.bold {
    font-weight: bold;
    color: darkslategray;
}

#carpoolifyCarousel .carousel-inner {
    /* background-color: rgba(0, 100, 0, 0.856); */
    /* background-color: rgb(56, 56, 56); */
    background-color: #006400;
}

