#backBtn {
    width: 80px;
    /* text-align: center; */
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 12px;
    border: 1px solid #4a269a;
}

.btn.btn-sm {
    /* margin-bottom: 12px;
    border: 1px solid #0275d8; */
}

#smsHeader {
    display: inline;
    color: #4a269a;
}

.btn.btn-sm .fas {
    color: #4a269a;
    font-size: 20px;
}

input {
    width: 100%;
}

input, textarea.form-control {
    font-size: 14px;
    background-color: rgb(58, 58, 58);
    /* border: 1px solid white; */
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    color: white;
}

.btn.btn-md.smsSend {
    background-color: #4a269a;
    color: white;
}

#emailArrowSMS {
    color: #4a269a;
}

.contact-info {
    margin-bottom: 0px;
}

@media only screen and (max-width : 768px) {
    
    input, textarea.form-control {
        border-radius: 20px;
        font-size: 16px;
        padding-left: 12px;
    }

    textarea.form-control {
        min-height: 125px;
    }
}